@media screen and (max-width:1200px) {
    .header {
        .header-navigation {
            height: 50px;
            .container {
                .flex(space-between,center);
                flex-direction: row-reverse;
                position: relative;
                .logo {
                    img {
                        display:none;
                    }
                }
                .nav-list {
                    display: none;
                }
                .control-items {
                    position: absolute;
                    right: 70px;
                }
                .header-hide_navigation {
                    .hide-bar {
                        display: block;
                        transform: translateX(100%);
                        position: absolute;
                        width: 50vw;
                        height: 100vh;
                        top: 0;
                        right: 0;
                        background-color: #fff;
                        transition:@transition;
                        z-index: 999;
                        .nav-list_hide {
                            width: 100%;
                            .nav-item_hide {
                                width: 100%;
                                padding: 15px 0;
                                text-align: center;
                                border-bottom: 1px solid #ccc;
                                a {
                                    color: #333
                                }
                            }
                        }
                    }
                }
                .nav-icon {
                    display: block;
                    color: #fff;
                    padding-right: 15px;
                    cursor: pointer;
                }
            }
        }
        .banner {
            .container {
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 20px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .category-product {
        transform: translateY(-5%);
        .container {
            height: 100%;
            .flex(center,center);
            flex-direction: column;
            .section {
                width: 100%;
                flex-direction: row;
                margin-bottom: 30px;
                }
            }
        }
}
@media screen and (max-width: 1024px){
    .header {
        .banner {
            .banner-background {
                object-fit: cover;
                height: 100%;
            }
            .container {
                h1 {
                    font-size: 40px;
                }
                h2 {
                    font-size: 20px;
                }
            }
        }
    }
    .main-content {
        .page-main {
            .products {
                .container {
                    .products-list {
                        .product-item { 
                            width: calc((6 / 12) * 100%);
                            &_content {
                                .product-img {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .brands {
                .container {
                    .brand-capsule {
                        .flex(center,center);
                        flex-wrap: wrap;
                        a {
                            padding: 30px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .footer-bottom {
                .flex(space-between,center);
                flex-wrap: wrap;
                .contact {
                    margin-right: 0;
                    flex: 0 0 50%;
                    max-width:50%;
                }
                .account {
                    flex: 0 0 50%;
                    max-width:50%;
                    margin-left: 0;
                    margin-right: 0;
                }
                .information {
                    flex: 0 0 50%;
                    max-width:50%;
                    margin-left: 0;
                    margin-right: 0;
                }
                .link {
                    flex: 0 0 50%;
                    max-width:50%;
                    margin-left: 0;
                }
            }
        }
    }
}
@media screen and (max-width:576px){
    .header {
        .header-navigation {
            width: 100%;
        }
        .banner {
            .banner-background {
                height: 500px;
                width: 100%;
                object-position: -380px;
            }
            .container {
                h1 {
                    font-size: 30px;
                    margin-top: 20px;
                }
                h2 {
                    font-size: 15px;
                    margin-bottom: 0;
                }
                p {
                    font-size: 10px;
                    margin-top: 5px;
                    margin-bottom:20px;
                }
                .shop-button {
                    margin-top: 0;
                    padding: 10px 25px;
                }
            }
        }
        .category-product {
            transform: translateY(-1%);
            .container {
                .section {
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;
                    &:nth-child(2) {
                        flex-direction: column-reverse;
                    }
                    .represent-img {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .main-content {
        .page-main {
            .products {
                .container {
                    .product-filter {
                        &_title {
                            font-size: 10px;
                        }
                    }
                    .products-list {
                        .product-item {
                            width: calc((12 / 12) * 100%);
                        }
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .footer-bottom {
                .flex(flex-start,flex-start);
                flex-direction: column;
                .contact {
                    max-width: 100%;
                    .contact-list {
                        li {
                            a {
                                padding-left: 10px;
                            }
                        }
                    }
                }
                .account {

                    margin-left: 0;
                    margin-right: 0;
                }
                .information {
                    margin-left: 0;
                    margin-right: 0;
                }
                .link {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .copyright {
            text-align: center;
        }
    }
}
@media screen and (max-width:420px){
    .header {
        .header-navigation {
            height: 40px;
        }
        .banner {
            .banner-background {
                height: 500px;
                width: 100%;
                object-position: -465px;
            }
            .container {
                h1 {
                    margin-top: 5px;
                }
                .shop-button {
                    margin-top: 15px;
                }
            }
        }
    }
}