.category-product {
    .flex(center,center);
    width: 100%;
    transform: translateY(-15%);
    .container {
        border: 1px solid #ccc;
        border-top-color: transparent;
        -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
                            -2px -2px 7px rgba(0,0,0,0.1);
        -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
                        -2px -2px 7px rgba(0,0,0,0.1);
        -ms-box-shadow: 2px 2px 5px rgba(0,0,0,0.1),
                        -2px -2px 7px rgba(0,0,0,0.1);
        z-index: 5;
        .category-content {
            .flex(center,center);
            height: 500px;
            .section {
                height: 100%;
                background-color: #fff;
                .represent-img {
                    height: 50%;
                    margin: 0;
                }
                .content {
                    height: 50%;
                    .flex(center,center);
                    flex-direction: column;
                    .dumbbells-icon {
                        height: 60px;
                        width: 70px;
                    }
                    .strength-icon {
                        height: 70px;
                        width: 50px;
                    }
                    .power-icon {
                        height: 70px;
                        width: 50px;
                    }
                    h2 {
                        text-transform: uppercase;
                        font-size: 18px;
                        margin-top: 15px;
                    }
                    p {
                        text-align: center;
                        font-size: 14px;
                        margin:0;
                    }
                }
            }
            
        }
    }
}