.main-content {
    .page-main {
        .client-say {
            height: 535px;
            .client-say_container {
                .flex(center,center);
                .client-say_content {
                    width: 100%;
                    .flex(center,center);
                    flex-direction: column;
                    margin-top: 100px;
                    .client-say_title {
                        text-transform: capitalize;
                        margin-bottom: 56px;
                        text-align: center;
                        letter-spacing: 0.5px;
                        padding-left: 8px;
                        h2 {
                            font-size: 35px;
                            line-height: 0.92;
                            margin:0;
                        }
                    }
                    .client-saying {
                        text-align: center;
                        font-size:18px;
                        line-height: 1.62;
                        margin-top: 24px;
                        margin-bottom:23px
                    
                    }
                    .client-name {
                        font-size:18px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin: 0;
                    }
                    .client-sign {
                        font-size: 14px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}